{% extends 'rango/base.html' %}

{% block title %}Adicione uma nova Categoria{% endblock title%}

{% block body_block %}
    <form role="form"  id="category_form" method="post" action=".">
        <h2 class="form-signin-heading">Adicione uma categoria</h2>
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}<br/>
            {{ field }}<br/>
        {% endfor %}

        <br/>
        <button class="btn btn-primary" type="submit" name="submit">Adicione Categoria</button>
    </form>
{% endblock body_block %}
