<!DOCTYPE html>

{% load staticfiles %}

{% load rango_extras %}

<script src="{% static "js/jquery-1.11.1.js" %}"></script>
<script src="{% static "js/rango-ajax.js" %}"></script>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Rango - {% block title %}How to Tango with Django!{% endblock %}</title>

    <link href="{%  static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{%  static 'css/dashboard.css' %}" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">Rango</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}

                    <li><a href="{% url 'add_category' %}">Adicione uma Nova Categoria</a></li>
                    <li><a href="{% url 'restricted' %}">Página Restrita</a></li>
                    <li><a href="{% url 'users_list' %}">Usuários</a></li>

                    <li><a href="{% url 'logout' %}">Sair</a></li>
                {%  else %}
                    <li><a href="{% url 'login' %}">Entrar</a></li>
                    <li><a href="{% url 'register' %}">Registre-se</a></li>
                {% endif %}
                <li><a href="https://bitbucket.org/marcoandre/twd_17_deco_2015/">git</a></li>
                <li><a href="{% url 'about' %}">Sobre</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'user_profile' user.username%}">{{ user.username }}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            {% block side_block %}
                <ul class="nav nav-list">
                    <li class="nav-header">Encontre uma Categoria</li>
                    <form>
                        <label></label>
                        <li><input  class="search-query span10" type="text" name="suggestion" value="" id="suggestion" /></li>
                    </form>
                </ul>



                <div id="cats">
                <hr>
                {% get_category_list category%}
                </div>

            {% endblock %}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div>
                {% block body_block %}{% endblock %}
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
