{% extends 'rango/base.html' %}

{% block body_block %}
    <div class="row placeholders">
        <div class="col-xs-12 col-sm-6 placeholder">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Top 5 Categorias mais curtidas:</h3>
                </div>
            </div>

            <ul class="list-group">
                {% for category in categories %}
                    <li class="list-group-item"> <a href="{% url 'category' category.slug %}">{{ category.name }}</a> ({{ category.likes }} - {{ category.views }})</li>
                {% empty%}
                    <strong>Não existem categorias.</strong>
                {% endfor %}
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6 placeholder">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Top 5 Páginas mais visitadas:</h3>
                </div>
            </div>

            <ul class="list-group">
                {% for page in pages %}
                    <li class="list-group-item"> <a href="{% url 'goto' %}?page_id={{page.id}}">{{ page.title }}</a> ({{ page.views }})</li>
                {% empty %}
                    <strong>Não existem páginas.</strong>
                {% endfor %}
            </ul>
        </div>
    </div>
    <p> Visitas: {{ visits }}</p>
{% endblock body_block %}
