{% extends 'rango/base.html' %}

{% load bootstrap_toolkit %}

{% block title %}Registre-se{% endblock title%}

{% block body_block %}
    <div class="page-header">
        <h1>Registre-se no Rango</h1>
    </div>

    {% if registered %}
        <strong>Obrigado por registrar-se!</strong>
        <a href="{% url 'index' %}">Voltar a homepage.</a><br />
    {% else %}
        <form role="form" id="user_form" method="post" action="/rango/register/"
              enctype="multipart/form-data">

            {% csrf_token %}

            {{ user_form|as_bootstrap }}
            {{ profile_form|as_bootstrap }}

            <input class="btn btn-primary" type="submit" name="submit" value="Registre-se" />
        </form>
    {% endif %}
{% endblock body_block %}