{% extends 'rango/base.html' %}

{% block title %}Página Restrita{% endblock title%}

{% block body_block %}
    <div class="page-header">
        <h1>Página Restrita no Rango</h1>
    </div>

    <strong> Como você está autenticado como {{ user.username }} consegue ver essa página! </strong>
{% endblock body_block %}