{% extends 'rango/base.html' %}

{% block body_block %}
    <div class="row placeholders">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Usuários</h3>
            </div>
        </div>
    </div>

    <ul>
        {% for u in users %}
            <li><a target='_blank' href="{% url 'user_profile' u.username %}" >{{ u.username }} </a> {{ u.first_name }} {{ u.last_name }} </li>
        {%  empty %}
            <strong>Não existem usuários cadastrados.</strong>
        {% endfor %}
    </ul>

{% endblock body_block %}
